<div class="detailBox">
    <div class="titleBox">
      <label>Comentarios</label>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            {{#if verificar}}
                {{#if comentarios}}
                    {{#each comentarios}}
                        <li>
                            <div class="commentText">
                                <button class="btn btn-default" value={{id}} id="eliminar-comentario" onclick="eliminarComentario({{id}})">Eliminar</button>
                                <span class="autor">{{autor}} </span>
                                <span class="texto-autor"> puntu贸 <span class="puntaje">{{puntaje}}/5 </span>y coment贸:</span>
                                <span class="">{{contenido}}</p>
                            </div>
                        </li>
                    {{/each}}
                {{else}}
                    <h2>Sin comentarios</h2>
                {{/if}}
            {{else}}
                {{#if comentarios}}
                    {{#each comentarios}}
                        <li>
                            <div class="commentText">
                                <span class="autor">{{autor}} </span>
                                <span class="texto-autor"> puntu贸 <span class="puntaje">{{puntaje}}/5 </span>y coment贸:</span>
                                <span class="">{{contenido}}</p>
                            </div>
                        </li>
                    {{/each}}
                {{else}}
                    <h2>Sin comentarios</h2>
                {{/if}}
            {{/if}}
        </ul>
    </div>
</div>
